header{
    position: relative;
}

video{
    width: 100%;
}

.header-container{
    position: absolute;
    top:0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap:10rem;
}

.header-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}

.header-title{
    color:white;
    font-size: 5rem;
}

.header-subtitle{
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.button{
    width: 70%;
    color: white;
    background-color: var(--black);
    padding:1rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}

.header-frase{
    text-align: center;
    color:white;
    font-size: 2.5rem;
}